.webgl-content {
    overflow-y: hidden;
    overflow-x: hidden;
}
#unityContainer {
    width: 100vw;
    height:100vh;
    background:black;
}
.with-player
{
    overflow-y: hidden; 
    overflow-x: hidden; 
}